@media screen and (min-width: 768px){
    
    /*header*/

    .header__cabeza{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        height: 100%;
        width: 70%;
    }

    .header__logo-img{
        width: auto;
    }

    .header__input{
        display:flex;
        position: relative;
        height: 100%;
        width: 50%;
    }

    .header__input-texto{
        width: 100%;
        border: none;
        border-radius: 50px;
        background: var(--fondo-gris);
        padding-left: 1rem;
        padding-right: 2.5rem;
    }

    .header__input-boton{
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);

    }

    .header__input-boton img{
        width: 60%;
    }

    .header__hamburguesa{
        display: none;
    }

    /*Banner*/

    .banner{
        height: 75%;
        padding-left: 3rem;
        padding-bottom: 3rem;
        gap:1rem;
    }

    .banner__titulo{
        font-size: 4em;
    }
    
    .banner__bajada{
        font-size: 1.5em;
    }
    
    .banner__boton{
        height: 11vw ;
        width: 18%;
        max-width: none;
        font-size: 1em;
        max-width: 150px;
        max-height: 65px;
    }

}