.page{
    font-family: 'Raleway', sans-serif;
}


.header{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    padding: 1rem;
}

.header__cabeza{
    display: flex;
    width:30%;
    min-width: 105px;
}

.header__logo-img{
    display: flex;
    align-items: center;
    height: 100%;
    width:100%;
}

.header__logo-img img{
    width:  100%;
    max-width: 100px;
}

.header__input{
    display: none;
}

.header__login{
    border: 1.5px solid var(--azul);
    color: var(--azul);
    height: 100%;
    width: 40%;
    max-width: 166px;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    font-weight: 400;
}

.header__hamburguesa img{
    width: 70%;
    min-width: 25px;

}





