

.productos{
    box-sizing: border-box;
    background: var(--fondo-gris);
}

.productos__header{
    box-sizing: border-box;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.producto__header-titulo{
    color: var(--gris-texto);
    font-weight: 700;
    font-size: 1.5em;
}

.productos__header-botton{
    color: var(--azul);
    display: flex;
    align-items: center;
    gap: .2rem;
    font-weight: 700;

}

.productos__header-botton img{
    height: 12px;

}

/*articulos*/

.productos__venta{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around; 
    align-items: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: calc(1rem - .2rem);

}


.productos__venta-articulo{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 48%;
    max-width: 170px;
    margin-bottom: 1.5rem;
    margin-right: .2rem;
    
    
}
.ultimo__articulo{
    display: none;
}
    
.producto__venta-img{
    width: 100%;
    
}

.producto__venta-titulo{
    font-size: 1.1em;
}

.producto__venta-precio{
    font-weight: 700;
}

.producto__venta-link{
    font-weight: 700;
    color: var(--azul) ;
}